/* .home {
  padding: 0 14px;
  min-height: 120vh;
  padding-bottom: 100px;
}
.hero {
  /* max-width: 90%;
  margin: 80px auto;
  /* display: grid; */
/* grid-template-columns: repeat(1fr, 1fr);
  align-items: center;
  text-align: center;
  gap: 30px;
} */
/* .hero .right-side img {
  width: 40%;
}

.hero h1 {
  font-size: max(4rem, 30px);
}

.hero p {
  /* width: 75%; */
/* color: whitesmoke;
  line-height: 1.5;
}  */

/* .hero 

@media (max-width: 700px) {
  .hero {
    padding: 1rem;
  }
  .hero h1 {
    font-size: max(4rem, 20px);
  }
}

@media (max-width: 800px) {
}

@media (max-width: 750px) {
}

@media (max-width: 550px) {
  .hero h1 {
    /* font-size: 21px; */
/* text-align: center;
  }

  form input {
    width: 100%;
  }
} */
/* 
@media (max-width: 450px) {
  .hero h1 {
    font-size: 38px;
    text-align: center;
  }

  .hero p {
    width: 90%;
    color: whitesmoke;
    font-size: 12px;
    line-height: 1.5;
  }
} */
