/* loader animation */

.spinner {
  min-height: 70vh;
  display: grid;
  place-items: center;
}
.spin {
  width: 60px;
  display: block;
  height: 60px;
  border: 6px solid white;
  border-bottom: 5px solid #1c3f37;
  border-radius: 50%;
  place-self: center;
  animation: loader 0.8s ease-out infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.error {
  min-height: 80vh;
  /* display: grid;
  place-items: center; */
  position: absolute;
  transform: translate(-50%, 50%);
  top: 50%;
  left: 50%;
}
.error p {
  text-align: center;
  margin-top: 9px;
  font-size: 19px;
  font-weight: 500;
}

.error img {
  width: 400px;
}

.linechart {
  width: 90%;
  margin: 3rem 4rem;
  margin-bottom: 8rem;
  height: 400px;
  /* background-color:; */
}

select {
  padding: 7px 9px;
  border-radius: 5px;
  border: 2px solid white;
  background: transparent;
  color: white;
}

option {
  background: #002244;
  color: white;
}

.error {
  top: 0;
  background: white;
  display: grid;
  align-items: center;
}
.error img {
  width: 90%;
  height: 60%;
}
@media (max-width: 600px) {
  .error img {
    width: 200px;
  }
  .linechart {
    width: 90%;
    margin: 3rem 4rem;
    margin-bottom: 7rem;
    height: 200px;
    /* background-color:; */
  }
}
